In [2]:
#import dependencies
import pandas as pd
import os

In [3]:
#read csv
purchase_csv = os.path.join("..", "Resources", "purchase_data.csv")
purchase_df = pd.read_csv(purchase_csv)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#Display total number of players
#Display total number of players
unique_players = purchase_df["SN"].unique()
total_players = len(unique_players)
total_df = pd.DataFrame({"Total Players": [total_players]
                        })
total_df

   Total Players
0            576

In [5]:
unique_items = purchase_df["Item ID"].nunique()
unique_items
average_price = purchase_df["Price"].mean()
average_price
price_total = purchase_df["Price"].sum()
price_total
total_purchases = len(purchase_df["Purchase ID"])
total_purchases
analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                           "Average Price": [average_price],
                           "Number of Purchases": [total_purchases],
                           "Total Revenue": [price_total]})
analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [6]:
#Find total males, percent of males compared to total players
grouped_genders = purchase_df.groupby(["Gender"])
genders = grouped_genders["SN"].nunique()
genders
genders_df = pd.DataFrame({"Total Count": genders,
"Percentage of Players": genders/total_players})
genders_df

                       Total Count  Percentage of Players
Gender
Female                          81               0.140625
Male                           484               0.840278
Other / Non-Disclosed           11               0.019097

In [7]:
gender_purchase_analysis_df = pd.DataFrame({"Purchase Count": grouped_genders["Purchase ID"].nunique(),
                                           "Average Purchase Price": grouped_genders["Price"].mean(),
                                           "Total Purchase Value": grouped_genders["Price"].sum(),
                                          "Avg Total Purchase Price per Person": grouped_genders["Price"].sum()/genders_df["Total Count"]})
gender_purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Price per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [8]:
# Age demographics
# Establish bins for ages
min_age = purchase_df["Age"].min()
print(min_age)
max_age = purchase_df["Age"].max()
print(max_age)

# Categorize the existing players using the age bins. Hint: use pd.cut()
# Calculate the numbers and percentages by age group
# Create a summary data frame to hold the results
# Optional: round the percentage column to two decimal points
# Display Age Demographics Table

7
45

In [9]:
# Purchasing Analysis (Age)
# Bin the purchase_data data frame by age
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame